header   
    <!--div(class="navegacion") -->
    <!--div.navegacion-->
    figure(class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800")
        a(href="/",class="text-center")
            img(src="img/logo.PNG",width=500,height =200,class="text-center")